h1 {
  color: #000;
}
ul {
  list-style: none;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.mem-container {
  color:blue;
}
.mem-container:hover {
  color: #000;
  cursor: pointer;
}
mem-container:hover span {
  background-image: url("./assets/img/plus.png");
} 
.mem-container:hover span {
  color: yellow;
}
.mem__title {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  cursor: pointer;
}
.mem__check {
  display: none;
}
.mem__content {
  height: 0;
  transition: height 0.5s;
  overflow: hidden;
}
input[type="radio"]:checked+.mem__title {
  color: black;
}
input[type="radio"]+.mem__title span {
  transform: rotate(45deg);
  background: red;
}
input[type="radio"]:checked+.mem__title span {
  transform: rotate(0deg);
  background: green;
}
input[type="radio"]:checked~.mem__content {
  height: 33rem;
}