* {
  overflow: hidden;
}
h1 {
  color: #000;
  text-align: center;
}
ul {
  list-style: none;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.mem-container {
  color:blue;
}
.mem-container:hover {
  color: #000;
  cursor: pointer;
}
mem-container:hover span {
  background-image: url("./assets/img/plus.png");
} 
.mem-container:hover span {
  color: yellow;
}
.mem__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  line-height: 3rem;
  cursor: pointer;
  border-top: thin solid grey;
}
.icon {
  width: 1rem;
  height: 0;
  transition: transform 0.5s;
}
.mem-container:hover .icon {
  height: 1rem;
}
.mem__check {
  display: none;
}
.mem__content {
  display: flex;
  justify-content: center;
  height: 0;
  transition: height 0.5s;
  overflow: hidden;
}
.mem__image {
  height: 29vh;
}
input[type="radio"]:checked+.mem__title {
  color: black;
}
input[type="radio"]+.mem__title span {
  transform: rotate(45deg);
  background: red;
}
input[type="radio"]:checked+.mem__title span {
  transform: rotate(0deg);
  background: green;
}
input[type="radio"]:checked+.mem__title .icon {
  transform: rotate(45deg);
}
.mem__title:hover .icon {
  transform: rotate(45deg);
}
input[type="radio"]:checked~.mem__content {
  height: 30vh;
}
.mem__title:hover~.mem__content {
  height: 30vh;
}